.container {
  background-color: cadetblue;
  height: calc(100vh - 200px);
  display: flex;
}

#nav-bar {
  flex: 1;
}

#main {
  flex: 3;
}

@media screen and (max-width:600px) {
  div.container {
    flex-direction: column;
  }
}